.implement {
  margin-bottom: 150px;
}

.implement .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.implement__info {
  max-width: 445px;
  width: 100%;
}

.implement__heading {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}

.implement__text {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
  opacity: 0.8;
}
