
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/public-sans-v11-latin-regular.woff2') format('woff2'), 
         url('./Assets/Fonts/public-sans-v11-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./Assets/Fonts/public-sans-v11-latin-700.woff2') format('woff2'), 
         url('./Assets/Fonts/public-sans-v11-latin-700.woff') format('woff'); 
  }

html{
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans' Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color:  #EDF3F8;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

img{
    vertical-align: middle;
    object-fit: cover;
}

main{
    flex-grow: 1;
}

 .container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

